In [ ]:
import pandas as pd

In [ ]:
l=[10,20,30,40]
pd.Series(l)

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
pd.Series(l,index=['I',"II",'III','IV'])

I      10
II     20
III    30
IV     40
dtype: int64

In [ ]:
d={'name':['sandeep','Ram','Ramesh'],'Percentage':[80,90,98],'States':['odisha',"andhrapradesh",'kerala']}
pd.DataFrame(d)

      name  Percentage         States
0  sandeep          80         odisha
1      Ram          90  andhrapradesh
2   Ramesh          98         kerala

In [ ]:
#Empty series
s=pd.Series([])
print(s)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [ ]:
#series using Array
import pandas as pd
import numpy as np
a=np.array([10,77,88,23])
s=pd.Series(a)
print(s)

0    10
1    77
2    88
3    23
dtype: int64

In [ ]:
#series using list
lm=[10,22,34,56]
s1=pd.Series(lm)
print(s1)

0    10
1    22
2    34
3    56
dtype: int64

In [ ]:
#series using list
lm=[10,22,34,56]
s1=pd.Series(lm)
print(s1)
s=pd.Series(lm,index=['a','b','c','d'])
print(s)

0    10
1    22
2    34
3    56
dtype: int64
a    10
b    22
c    34
d    56
dtype: int64

In [ ]:
#series using Dictionary
D={'a':10,'b':20,'c':45,'d':90}
n=pd.Series(D)
print(n)

a    10
b    20
c    45
d    90
dtype: int64

In [ ]:
dt=[('a',10),('b',20),('c',90),('d',56)]
pd.Series(dt)

0    (a, 10)
1    (b, 20)
2    (c, 90)
3    (d, 56)
dtype: object

In [ ]:


df1=pd.read_csv('/content/sa1.csv')

In [ ]:
print(df1)

         Name Reg No  Mobile no  Marks
0           x     11    1234567      1
1           y     22       1234      2
2        dgub     34       7890      3
3        fkhf     3e       5678      4
4   fshgkhsf,    345      12345      5
5     etwiewn    567      45778      5
6       vblfk    5t6       6778     78
7       dkkkw     78       2345     56
8     cmvbyrt     89        344     65
9         iee     12       1234     45
10       hbsl     34       2345     43
11      j;wks    456      45667     23
12        cbk    567       8907     12
13        ffs    678       6788    345

In [ ]:
df=pd.read_csv('/content/sa1.csv')

In [ ]:
print(df)

         Name Reg No  Mobile no  Marks
0           x     11    1234567      1
1           y     22       1234      2
2        dgub     34       7890      3
3        fkhf     3e       5678      4
4   fshgkhsf,    345      12345      5
5     etwiewn    567      45778      5
6       vblfk    5t6       6778     78
7       dkkkw     78       2345     56
8     cmvbyrt     89        344     65
9         iee     12       1234     45
10       hbsl     34       2345     43
11      j;wks    456      45667     23
12        cbk    567       8907     12
13        ffs    678       6788    345

In [ ]:
df=pd.DataFrame(df)
print(df)

         Name Reg No  Mobile no  Marks
0           x     11    1234567      1
1           y     22       1234      2
2        dgub     34       7890      3
3        fkhf     3e       5678      4
4   fshgkhsf,    345      12345      5
5     etwiewn    567      45778      5
6       vblfk    5t6       6778     78
7       dkkkw     78       2345     56
8     cmvbyrt     89        344     65
9         iee     12       1234     45
10       hbsl     34       2345     43
11      j;wks    456      45667     23
12        cbk    567       8907     12
13        ffs    678       6788    345

In [ ]:
df1=pd.DataFrame(df)
print(df1)

         Name Reg No  Mobile no  Marks
0           x     11    1234567      1
1           y     22       1234      2
2        dgub     34       7890      3
3        fkhf     3e       5678      4
4   fshgkhsf,    345      12345      5
5     etwiewn    567      45778      5
6       vblfk    5t6       6778     78
7       dkkkw     78       2345     56
8     cmvbyrt     89        344     65
9         iee     12       1234     45
10       hbsl     34       2345     43
11      j;wks    456      45667     23
12        cbk    567       8907     12
13        ffs    678       6788    345

In [ ]:
df.columns

Index(['Name', 'Reg No', 'Mobile no', 'Marks'], dtype='object')

In [ ]:
df.shape

(14, 4)

In [ ]:
df['Marks']

0       1
1       2
2       3
3       4
4       5
5       5
6      78
7      56
8      65
9      45
10     43
11     23
12     12
13    345
Name: Marks, dtype: int64

In [ ]:
df[['Name','Marks']]

         Name  Marks
0           x      1
1           y      2
2        dgub      3
3        fkhf      4
4   fshgkhsf,      5
5     etwiewn      5
6       vblfk     78
7       dkkkw     56
8     cmvbyrt     65
9         iee     45
10       hbsl     43
11      j;wks     23
12        cbk     12
13        ffs    345

In [ ]:
df[['Name','Reg No']].head(10)

        Name Reg No
0          x     11
1          y     22
2       dgub     34
3       fkhf     3e
4  fshgkhsf,    345
5    etwiewn    567
6      vblfk    5t6
7      dkkkw     78
8    cmvbyrt     89
9        iee     12

In [ ]:
df[1:10]

        Name Reg No  Mobile no  Marks
1          y     22       1234      2
2       dgub     34       7890      3
3       fkhf     3e       5678      4
4  fshgkhsf,    345      12345      5
5    etwiewn    567      45778      5
6      vblfk    5t6       6778     78
7      dkkkw     78       2345     56
8    cmvbyrt     89        344     65
9        iee     12       1234     45

In [ ]:
df[1:10:3]

        Name Reg No  Mobile no  Marks
1          y     22       1234      2
4  fshgkhsf,    345      12345      5
7      dkkkw     78       2345     56

In [ ]:
for index,rows in df.iterrows():
  print(index,rows['Name'])

0 x
1 y
2 dgub
3 fkhf
4 fshgkhsf,
5 etwiewn
6 vblfk
7 dkkkw
8 cmvbyrt
9 iee
10 hbsl
11 j;wks
12 cbk
13 ffs

In [ ]:
df.loc[1]

Name            y
Reg No         22
Mobile no    1234
Marks           2
Name: 1, dtype: object

In [ ]:
df.loc[df['Name']=='iee']

  Name Reg No  Mobile no  Marks
9  iee     12       1234     45

In [ ]:
df.loc[df["Marks"]=='12']

Empty DataFrame
Columns: [Name, Reg No, Mobile no, Marks]
Index: []

In [ ]:
#Adding a new columns Total marks toour Dataset with values as 0
df['Total_marks']=0
print(df)

         Name Reg No  Mobile no  Marks  Total_marks
0           x     11    1234567      1            0
1           y     22       1234      2            0
2        dgub     34       7890      3            0
3        fkhf     3e       5678      4            0
4   fshgkhsf,    345      12345      5            0
5     etwiewn    567      45778      5            0
6       vblfk    5t6       6778     78            0
7       dkkkw     78       2345     56            0
8     cmvbyrt     89        344     65            0
9         iee     12       1234     45            0
10       hbsl     34       2345     43            0
11      j;wks    456      45667     23            0
12        cbk    567       8907     12            0
13        ffs    678       6788    345            0

In [ ]:
df['Total_marks']=df['Marks']+df['Mobile no']
print(df)

         Name Reg No  Mobile no  Marks  Total_marks
0           x     11    1234567      1      1234568
1           y     22       1234      2         1236
2        dgub     34       7890      3         7893
3        fkhf     3e       5678      4         5682
4   fshgkhsf,    345      12345      5        12350
5     etwiewn    567      45778      5        45783
6       vblfk    5t6       6778     78         6856
7       dkkkw     78       2345     56         2401
8     cmvbyrt     89        344     65          409
9         iee     12       1234     45         1279
10       hbsl     34       2345     43         2388
11      j;wks    456      45667     23        45690
12        cbk    567       8907     12         8919
13        ffs    678       6788    345         7133

In [ ]:
#deleting a coulmns
df.drop(columns="Total_marks")

         Name Reg No  Mobile no  Marks
0           x     11    1234567      1
1           y     22       1234      2
2        dgub     34       7890      3
3        fkhf     3e       5678      4
4   fshgkhsf,    345      12345      5
5     etwiewn    567      45778      5
6       vblfk    5t6       6778     78
7       dkkkw     78       2345     56
8     cmvbyrt     89        344     65
9         iee     12       1234     45
10       hbsl     34       2345     43
11      j;wks    456      45667     23
12        cbk    567       8907     12
13        ffs    678       6788    345

In [ ]:
df.drop(columns='Mobile no')

         Name Reg No  Marks  Total_marks
0           x     11      1      1234568
1           y     22      2         1236
2        dgub     34      3         7893
3        fkhf     3e      4         5682
4   fshgkhsf,    345      5        12350
5     etwiewn    567      5        45783
6       vblfk    5t6     78         6856
7       dkkkw     78     56         2401
8     cmvbyrt     89     65          409
9         iee     12     45         1279
10       hbsl     34     43         2388
11      j;wks    456     23        45690
12        cbk    567     12         8919
13        ffs    678    345         7133

In [ ]:
#if you want to save these new columns to your Dataset then You have to execute the following code
df=df.drop(columns='Marks')
print(df)

         Name Reg No  Total_marks
0           x     11      1234568
1           y     22         1236
2        dgub     34         7893
3        fkhf     3e         5682
4   fshgkhsf,    345        12350
5     etwiewn    567        45783
6       vblfk    5t6         6856
7       dkkkw     78         2401
8     cmvbyrt     89          409
9         iee     12         1279
10       hbsl     34         2388
11      j;wks    456        45690
12        cbk    567         8919
13        ffs    678         7133

In [ ]:
#export to csv and excel
df.to_csv('/content/newsa1.csv')
print(df)

         Name Reg No  Total_marks
0           x     11      1234568
1           y     22         1236
2        dgub     34         7893
3        fkhf     3e         5682
4   fshgkhsf,    345        12350
5     etwiewn    567        45783
6       vblfk    5t6         6856
7       dkkkw     78         2401
8     cmvbyrt     89          409
9         iee     12         1279
10       hbsl     34         2388
11      j;wks    456        45690
12        cbk    567         8919
13        ffs    678         7133

In [ ]:
#if you dont want index then
df.to_csv('/content/newsa1.csv',index=False)
print(df)

         Name Reg No  Total_marks
0           x     11      1234568
1           y     22         1236
2        dgub     34         7893
3        fkhf     3e         5682
4   fshgkhsf,    345        12350
5     etwiewn    567        45783
6       vblfk    5t6         6856
7       dkkkw     78         2401
8     cmvbyrt     89          409
9         iee     12         1279
10       hbsl     34         2388
11      j;wks    456        45690
12        cbk    567         8919
13        ffs    678         7133

In [ ]:
df.to_excel('/content/newsa1.xlsx',index=False)
print(df)

         Name Reg No  Total_marks
0           x     11      1234568
1           y     22         1236
2        dgub     34         7893
3        fkhf     3e         5682
4   fshgkhsf,    345        12350
5     etwiewn    567        45783
6       vblfk    5t6         6856
7       dkkkw     78         2401
8     cmvbyrt     89          409
9         iee     12         1279
10       hbsl     34         2388
11      j;wks    456        45690
12        cbk    567         8919
13        ffs    678         7133

In [ ]:
df.loc[3]#loc is label based

Name           fkhf
Reg No           3e
Total_marks    5682
Name: 3, dtype: object

In [ ]:
df.loc[3,'Name']

'fkhf'

In [ ]:
df.loc[0:4,['Name']]

        Name
0          x
1          y
2       dgub
3       fkhf
4  fshgkhsf,

In [ ]:
df.loc[0:4,['Name','Reg No']]

        Name Reg No
0          x     11
1          y     22
2       dgub     34
3       fkhf     3e
4  fshgkhsf,    345

In [ ]:
df

         Name Reg No  Total_marks
0           x     11      1234568
1           y     22         1236
2        dgub     34         7893
3        fkhf     3e         5682
4   fshgkhsf,    345        12350
5     etwiewn    567        45783
6       vblfk    5t6         6856
7       dkkkw     78         2401
8     cmvbyrt     89          409
9         iee     12         1279
10       hbsl     34         2388
11      j;wks    456        45690
12        cbk    567         8919
13        ffs    678         7133

In [ ]:
df.loc[0:4,'Name':'Reg No']

        Name Reg No
0          x     11
1          y     22
2       dgub     34
3       fkhf     3e
4  fshgkhsf,    345

In [ ]:
df.iloc[0:4,1:7] #index based

  Reg No  Total_marks
0     11      1234568
1     22         1236
2     34         7893
3     3e         5682

In [ ]:
df.iloc[0:6]

        Name Reg No  Total_marks
0          x     11      1234568
1          y     22         1236
2       dgub     34         7893
3       fkhf     3e         5682
4  fshgkhsf,    345        12350
5    etwiewn    567        45783

In [ ]:
df.iloc[0:7,2]

0    1234568
1       1236
2       7893
3       5682
4      12350
5      45783
6       6856
Name: Total_marks, dtype: int64

In [ ]:
#all the missing value NAN value will be deleted
df.dropna()

         Name Reg No  Total_marks
0           x     11      1234568
1           y     22         1236
2        dgub     34         7893
3        fkhf     3e         5682
4   fshgkhsf,    345        12350
5     etwiewn    567        45783
6       vblfk    5t6         6856
7       dkkkw     78         2401
8     cmvbyrt     89          409
9         iee     12         1279
10       hbsl     34         2388
11      j;wks    456        45690
12        cbk    567         8919
13        ffs    678         7133

In [ ]:
#if you want to chnage to the original dataframe
df.dropna(inplace=True)
df

         Name Reg No  Total_marks
0           x     11      1234568
1           y     22         1236
2        dgub     34         7893
3        fkhf     3e         5682
4   fshgkhsf,    345        12350
5     etwiewn    567        45783
6       vblfk    5t6         6856
7       dkkkw     78         2401
8     cmvbyrt     89          409
9         iee     12         1279
10       hbsl     34         2388
11      j;wks    456        45690
12        cbk    567         8919
13        ffs    678         7133

In [ ]:
#missing data from multiple columns will be deleted
df.loc[:,['Name','Reg No']].dropna()

         Name Reg No
0           x     11
1           y     22
2        dgub     34
3        fkhf     3e
4   fshgkhsf,    345
5     etwiewn    567
6       vblfk    5t6
7       dkkkw     78
8     cmvbyrt     89
9         iee     12
10       hbsl     34
11      j;wks    456
12        cbk    567
13        ffs    678

In [ ]:
#fill with default values
df.fillna("Ice Cream")

         Name Reg No  Total_marks
0           x     11      1234568
1           y     22         1236
2        dgub     34         7893
3        fkhf     3e         5682
4   fshgkhsf,    345        12350
5     etwiewn    567        45783
6       vblfk    5t6         6856
7       dkkkw     78         2401
8     cmvbyrt     89          409
9         iee     12         1279
10       hbsl     34         2388
11      j;wks    456        45690
12        cbk    567         8919
13        ffs    678         7133

In [ ]:
df.loc[:,["Total_marks"]].fillna(67)

    Total_marks
0       1234568
1          1236
2          7893
3          5682
4         12350
5         45783
6          6856
7          2401
8           409
9          1279
10         2388
11        45690
12         8919
13         7133

In [ ]:
df.loc[:,["Total_marks"]].mean()

Total_marks    98756.214286
dtype: float64

In [ ]:
df['Total_marks'].fillna(df['Total_marks'].mean())

0     1234568
1        1236
2        7893
3        5682
4       12350
5       45783
6        6856
7        2401
8         409
9        1279
10       2388
11      45690
12       8919
13       7133
Name: Total_marks, dtype: int64

In [ ]:
import pandas as pd
a=pd.Series([3,4,5,6,7])
b=pd.Series([1,22,3,55])

In [ ]:
a+b

0     4.0
1    26.0
2     8.0
3    61.0
4     NaN
dtype: float64

In [ ]:
a-b

0     2.0
1   -18.0
2     2.0
3   -49.0
4     NaN
dtype: float64

In [ ]:
a*b

0      3.0
1     88.0
2     15.0
3    330.0
4      NaN
dtype: float64

In [ ]:
a/b

0    3.000000
1    0.181818
2    1.666667
3    0.109091
4         NaN
dtype: float64

In [ ]:
a%b

0    0.0
1    4.0
2    2.0
3    6.0
4    NaN
dtype: float64

In [ ]:
a.add(b)

0     4.0
1    26.0
2     8.0
3    61.0
4     NaN
dtype: float64

In [ ]:
a.multiply(b)

0      3.0
1     88.0
2     15.0
3    330.0
4      NaN
dtype: float64

In [ ]:
a.subtract(b)

0     2.0
1   -18.0
2     2.0
3   -49.0
4     NaN
dtype: float64

In [ ]:
a**b

0    3.000000e+00
1    1.759219e+13
2    1.250000e+02
3    6.285195e+42
4             NaN
dtype: float64

In [ ]:
a.pow(b)

0    3.000000e+00
1    1.759219e+13
2    1.250000e+02
3    6.285195e+42
4             NaN
dtype: float64

In [ ]:
a.le(b)

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [ ]:
a.gt(b)

0     True
1    False
2     True
3    False
4    False
dtype: bool

In [ ]:
a.eq(b)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
a.empty

False

In [ ]:
b.memory_usage()

160

In [ ]:
b.nbytes

32

In [ ]:
a.size

5

In [ ]:
a.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
b.dtype

dtype('int64')

In [ ]:
b.values

array([ 1, 22,  3, 55])

In [ ]:
b.shape

(4,)

In [ ]:
b.name

In [ ]:
b.array

<PandasArray>
[1, 22, 3, 55]
Length: 4, dtype: int64

In [ ]:
b.ndim

1

In [ ]:
df.[df]['Marks']<60]
df.loc[df['English']]